# ==========================================
# IGNORAR ARQUIVOS DE SEGURANÇA E DADOS PESSOAIS
# ==========================================
# O nosso cofre de senhas jamais deve ir para a nuvem!
Credenciais/
credenciais.xml
*.xml
*.json

# ==========================================
# IGNORAR LOGS E ARQUIVOS TEMPORÁRIOS
# ==========================================
*.log
*.tmp
*.bak

# Ignorar atalhos do Windows (Caminhos absolutos locais)
Atalhos/
*.lnk

# ==========================================
# IGNORAR BINÁRIOS (Opcional)
# ==========================================
# Se você quiser subir o WebDriver.dll para facilitar a instalação em outro PC, 
# deixe essa linha comentada com '#'. Se preferir não subir arquivos pesados, remova o '#'.
WebDriver.dll
msedgedriver.exe

# Arquivo de configuração (vai subir apenas o exemplo)
config.ps1